
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: brown;
}

.empty{
  height: 150px;
  width:150px;
  margin: 10px;
  border:solid 3px black;
  background: white;
}

.fill{
  background-image: url('https://images.unsplash.com/photo-1616361743371-c19895461140?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=150&q=150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold{
  border: solid 5px #ccc;
}

.hovered{
  background-color: #333;
  border: white 3px dashed;
}

@media (max-width:800px){
  body{
    flex-direction: column;
  }
}
