@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div{
  position: absolute;
  bottom: 20px;
  background-color: rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 18x;
  border-radius:5px ;
}

input{
  width:50px;
  padding: 5px;
  font-size: 18px;
  background-color: #FBAB7E;
  border: none;
  text-align: center;
  font-family: inherit;
}

input:focus{
  outline: none;
}